<!DOCTYPE html>
<html>
  <head>
    <title>Ezequiel & Natalia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="<%= __('SAVE THE DATE!!! 03/28/2020 We are getting married!!! You have been invited to Ezequiel & Natalia\'s Wedding!') %>">
    <meta name="robots" content="noindex">
    <link rel="icon" href="/favicon.ico">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
    <% /* Auto-injected «link» tags: */ %>
    <!--STYLES_WEDDING-->
    <link rel="stylesheet" href="/styles/wedding/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/styles/wedding/preloader.css">
    <link rel="stylesheet" href="/styles/wedding/preloader-default.css">
    <link rel="stylesheet" href="/styles/wedding/flexslider/flexslider.css">
    <link rel="stylesheet" href="/styles/wedding/animate/animate.css">
    <link rel="stylesheet" href="/styles/wedding/countdown/jquery.countdown.css">
    <link rel="stylesheet" href="/styles/wedding/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/styles/wedding/owlcarousel/owl.carousel.css">
    <link rel="stylesheet" href="/styles/wedding/owlcarousel/owl.theme.css">
    <link rel="stylesheet" href="/styles/wedding/fontello.css">
    <link rel="stylesheet" href="/styles/wedding/style.css">
    <link rel="stylesheet" href="/styles/wedding/twemoji-amazing/twemoji-amazing.css">
    <link rel="stylesheet" href="/styles/wedding/skin/pattern/pattern-1.css">
    <!--STYLES_WEDDING END-->
  </head>
  <body class="outside-bottom-bar-page">

    <%- body %>

    <% /* Delete the global `self` to help avoid client-side bugs.
    (see https://developer.mozilla.org/en-US/docs/Web/API/Window/self) */ %>
    <script>delete window.self;</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= google %>"></script>
    <% /* Auto-injected «script» tags: */ %>
    <!--SCRIPTS_WEDDING-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/lodash.js"></script>
    <script src="/dependencies/vue.js"></script>
    <script src="/dependencies/cloud.js"></script>
    <script src="/dependencies/parasails.js"></script>
    <script src="/dependencies/moment.js"></script>
    <script src="/js/cloud.setup.js"></script>
    <script src="/js/components/ajax-button-template.component.js"></script>
    <script src="/js/components/ajax-form.component.js"></script>
    <script src="/js/pages/wedding.page.js"></script>
    <script src="/js/wedding/moment/moment-timezone-with-data-10-year-range.js"></script>
    <script src="/js/wedding/jquery-1.11.1.min.js"></script>
    <script src="/js/wedding/pace/pace.min.js"></script>
    <script src="/js/wedding/bootstrap/bootstrap.js"></script>
    <script src="/js/wedding/modernizr/modernizr.js"></script>
    <script src="/js/wedding/devicejs/device.js"></script>
    <script src="/js/wedding/tinynav/tinynav.js"></script>
    <script src="/js/wedding/smoothscroll/jquery.smooth-scroll.js"></script>
    <script src="/js/wedding/flexslider/jquery.flexslider.js"></script>
    <script src="/js/wedding/sticky/jquery.sticky.js"></script>
    <script src="/js/wedding/waypoint/jquery.waypoints.min.js"></script>
    <script src="/js/wedding/jquery-ui-widget/jquery.ui.widget.js"></script>
    <script src="/js/wedding/jquery-doubletaptogo/jquery.dcd.doubletaptogo.js"></script>
    <script src="/js/wedding/vide/jquery.vide.js"></script>
    <script src="/js/wedding/stellar/jquery.stellar.js"></script>
    <script src="/js/wedding/masonry/masonry.pkgd.min.js"></script>
    <script src="/js/wedding/countdown/jquery.plugin.js"></script>
    <script src="/js/wedding/countdown/jquery.countdown.js"></script>
    <script src="/js/wedding/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="/js/wedding/owlcarousel/owl.carousel.js"></script>
    <script src="/js/wedding/markerlabel/markerwithlabel.js"></script>
    <script src="/js/wedding/script.js"></script>
    <script src="/js/wedding/map-script.js"></script>
    <script src="/js/wedding/main-slider-fade.js"></script>
    <!--SCRIPTS_WEDDING END-->
    <!--OUTSIDE OF CONCATENATION CAUSE OF MOMENT TIMEZONE BUG-->
    <script src="/moment/moment-timezone-with-data-10-year-range.js"></script>
  </body>
</html>
