<!DOCTYPE html>
<html>
  <head>
    <title>Ezequiel & Natalia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="<%= __('SAVE THE DATE!!! 03/28/2020 We are getting married!!! You have been invited to Ezequiel & Natalia\'s Wedding!') %>">
    <meta name="robots" content="noindex">
    <link rel="icon" href="/favicon.ico">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/styles/wedding/bootstrap/bootstrap.min.css" type="text/css" media="screen" />
    <!-- Pace -->
    <link rel="stylesheet" href="/styles/wedding/preloader.css"  media="screen">
    <link rel="stylesheet" href="/styles/wedding/preloader-default.css"  media="screen">
    <!-- Flexslider -->
    <link rel="stylesheet" href="/styles/wedding/flexslider/flexslider.css" type="text/css">
    <!-- Animate -->
    <link rel="stylesheet" href="/styles/wedding/animate/animate.css" type="text/css">       
    <!-- Countdown -->
    <link rel="stylesheet" href="/styles/wedding/countdown/jquery.countdown.css" type="text/css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/styles/wedding/magnific-popup/magnific-popup.css" type="text/css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/styles/wedding/owlcarousel/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/styles/wedding/owlcarousel/owl.theme.css" type="text/css">
    <!-- Icon -->
    <link rel="stylesheet" href="/styles/wedding/fonts/fontello/css/fontello.css" type="text/css" media="screen" />
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="/styles/wedding/style.css" rel="stylesheet" media="screen" type="text/css">
    <!-- TWEMOJI AMAZING -->
    <link href="/styles/wedding/twemoji-amazing/twemoji-amazing.css" rel="stylesheet" type="text/css">
      
    <!-- Skin CSS -->
    <!-- <link href="/styles/wedding/skin/light-teal/light-teal.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="/styles/wedding/skin/light-teal/light-teal-reverse-navbar.css" rel="stylesheet" media="screen"> -->
    <link href="/styles/wedding/skin/pattern/pattern-1.css" rel="stylesheet" media="screen" type="text/css">
  </head>
  <body class="outside-bottom-bar-page">

    <%- body %>

    <% /* Delete the global `self` to help avoid client-side bugs.
    (see https://developer.mozilla.org/en-US/docs/Web/API/Window/self) */ %>
    <script>delete window.self;</script>
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/lodash.js"></script>
    <script src="/dependencies/jquery.min.js"></script>
    <script src="/dependencies/vue.js"></script>
    <script src="/dependencies/cloud.js"></script>
    <script src="/dependencies/parasails.js"></script>
    <script src="/js/cloud.setup.js"></script>
    <script src="/js/components/ajax-button-template.component.js"></script>
    <script src="/js/components/ajax-form.component.js"></script>
    <script src="/js/pages/wedding.page.js"></script>
    <!-- Moment -->
    <script src="js/wedding/moment/moment.js"></script>
    <script src="js/wedding/moment/moment-timezone-with-data-10-year-range.js"></script>
    <!-- jQuery -->
    <script src="js/wedding/jquery-1.11.1.min.js"></script>
    <!-- Pace -->
    <script src="js/wedding/pace/pace.min.js"></script> 
    <!-- Bootstrap -->
    <script src="js/wedding/bootstrap/bootstrap.js"></script>    
    <!-- Modernizr -->
    <script src="js/wedding/modernizr/modernizr.js"></script>  
    <!-- Device JS -->
    <script src="js/wedding/devicejs/device.js"></script>  
    <!-- TinyNav -->
    <script src="js/wedding/tinynav/tinynav.min.js"></script>
    <!-- SmoothScroll -->
    <script src="js/wedding/smoothscroll/jquery.smooth-scroll.js"></script>
    <!-- Flexslider -->
    <script src="js/wedding/flexslider/jquery.flexslider.js"></script>  
    <!-- Sticky -->
    <script src="js/wedding/sticky/jquery.sticky.js"></script>  
    <!-- Waypoint -->
    <script src="js/wedding/waypoint/jquery.waypoints.min.js"></script>
    <!-- DoubleTapToGo -->
    <script src="js/wedding/jquery-ui-widget/jquery.ui.widget.js"></script>
    <script src="js/wedding/jquery-doubletaptogo/jquery.dcd.doubletaptogo.js"></script>
    <!-- Vide -->
    <script src="js/wedding/vide/jquery.vide.js"></script>
    <!-- Stellar -->
    <script src="js/wedding/stellar/jquery.stellar.js"></script>
    <!-- Masonry -->
    <script src="js/wedding/masonry/masonry.pkgd.min.js"></script>
    <!-- Countdown -->
    <script src="js/wedding/countdown/jquery.plugin.js"></script>
    <script src="js/wedding/countdown/jquery.countdown.js"></script>
    <!-- Magnific Popup -->
    <script src="js/wedding/magnific-popup/jquery.magnific-popup.js"></script>
    <!-- Owl Carousel -->
    <script src="js/wedding/owlcarousel/owl.carousel.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= google %>"></script>
    <script src="js/wedding/markerlabel/markerwithlabel.js"></script>
    <!-- Custom Core Script -->
    <script type="text/javascript" src="js/wedding/script.js"></script>
    <script type="text/javascript" src="js/wedding/map-script.js"></script> 
    <!-- Custom Additional Script -->
    <script type="text/javascript" src="js/wedding/main-slider-fade.js"></script>
    <script type="text/javascript" src="js/wedding/map-script.js"></script>
  </body>
</html>
