<div id="498">
  <div class="container text-center">
    <h1>Lo sentimos, ese enlace ha caducado o <br/><span class="mobile-spacer">&nbsp;</span>ya se ha utilizado.</h1>
    <hr/>
    <div class="help">
      <p>¿Necesita más ayuda para acceder a su cuenta?<br/><span class="mobile-spacer">&nbsp;</span>Solicite un nuevo <a href="/admin/password/forgot">restablecimiento de contraseña.</a></p>
      <a class="btn btn-lg btn-outline-dark" href="/admin/password/forgot">Resetear contaseña</a>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
