<div id="welcome">
  <div class="container">
    <h1>Welcome!</h1>
    <hr/>
    <h4>Confirmed Guests TODO</h3>
    <p v-for="guest in guests"> {{ guest.fullName }}</p>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
