<div id="welcome">
  <div class="container">
    <h1>Welcome!</h1>
    <hr/>
    <p>TODO: show how many invitations are confirmed and how many are not</p>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
