<!DOCTYPE html>
<html>
  <head>
    <title>We are getting Married! | Ezequiel & Natalia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light only">
    <meta name="supported-color-schemes" content="light only">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sail&display=swap" rel="stylesheet">
    <style type="text/css">
      :root {color-scheme: light only; supported-color-schemes: light only;}
      body {margin: 0; padding: 0;}
      h1 {font-weight: normal;}
      table{border-collapse: collapse;}
      td{padding: 0;}
      .confirm-invitation:hover{opacity: 1 !important;}
      @media only screen and (max-width: 768px) {
        .left {width: 100% !important;}
        .right {display: none}
        .icon{display: none;}
      }
      @media (prefers-color-scheme: dark) {
        .black-text{color: #000 !important;}
        .white-text{color: #fff !important;}
        .white{background-color: #fff !important;}
        .header{background: url('https://www.ezeynaty.com/images/email/header.jpg'); background: linear-gradient(0deg, rgba(29,33,38,1) 0%, rgba(29,33,38,0) 100%), url('https://www.ezeynaty.com/images/email/header.jpg') !important; background-size: cover !important; background-position: center center !important; background-repeat: no-repeat !important;}
        .date{background-color: rgba(14,15,16,.7) !important;}
        .message{background-color: rgb(29, 30, 32) !important;}
        .message-text{background-color: rgb(14,15,16) !important;}
        .pink{background-color: rgb(255,57,95) !important;}
        .confirm-btn{background-color: rgb(255,57,95) !important; border: 1px solid rgb(255,57,95) !important;}
        .map-btn{background-color: #000 !important; border: 1px solid #000 !important;}
        .footer{background: url('https://www.ezeynaty.com/images/email/footer.jpg'); background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 44%), url('https://www.ezeynaty.com/images/email/footer.jpg') !important; background-size: cover !important; background-position: center center !important; vertical-align: bottom !important; background-repeat: no-repeat !important;}
      }
      @media (forced-colors: active) {
        .black-text{color: #000 !important;}
        .white-text{color: #fff !important;}
        .white{background-color: #fff !important;}
        .header{background: url('http://localhost:1338/header.jpg'); background: linear-gradient(0deg, rgba(29,33,38,1) 0%, rgba(29,33,38,0) 100%), url('http://localhost:1338/header.jpg') !important; background-size: cover !important; background-position: center center !important; background-repeat: no-repeat !important;}
        .date{background-color: rgba(14,15,16,.7) !important;}
        .message{background-color: rgb(29, 30, 32) !important;}
        .message-text{background-color: rgb(14,15,16) !important;}
        .pink{background-color: rgb(255,57,95) !important;}
        .confirm-btn{background-color: rgb(255,57,95) !important; border: 1px solid rgb(255,57,95) !important;}
        .map-btn{background-color: #000 !important; border: 1px solid #000 !important;}
        .footer{background: url('http://localhost:1338/footer.jpg'); background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 44%), url('http://localhost:1338/footer.jpg') !important; background-size: cover !important; background-position: center center !important; vertical-align: bottom !important; background-repeat: no-repeat !important;}
      }
    </style>
  </head>
  <body>
    <div class="email-background" style="font-family: 'Open Sans', sans-serif; letter-spacing: 1px;">
      <div class="email-container" style="max-width: 800px; margin: 0 auto;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr class="header" style="background: url('https://www.ezeynaty.com/images/email/header.jpg'); background: linear-gradient(0deg, rgba(29,33,38,1) 0%, rgba(29,33,38,0) 100%), url('https://www.ezeynaty.com/images/email/header.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat;">
            <td colspan="2">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" height="433px">
                <tr>
                  <td style="text-align: center; font-family: 'Sail', cursive;">
                    <h1 class="white-text" style="color: #fff; white-space: pre; margin-top: 34px; margin-bottom: 15px; font-size: 33px;">Ezequiel  &  Natalia</h1>
                    <span class="white" style="height: 2px; width: 100px; background-color: #fff; display: block; margin: 0 auto;"> </span>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 169px 0 0 0; text-align: center;">
                    <h2 class="white-text" style="margin-bottom: 26px; font-size: 26.5px; color: #fff;">SAVE THE DATE</h2>
                    <span class="date" style="padding: 18px 34px; background-color: rgba(14,15,16,.7); vertical-align: middle; max-width: 100%;">
                        <img class="icon" alt="pigeon" src="https://www.ezeynaty.com/images/email/icon.png" style="vertical-align: middle; margin-right: 34px; transform: scaleX(-1);" />
                        <span class="white-text" style="color: #fff; vertical-align: middle; font-weight: bold; font-size: 26.5px;">03/20/2021</span>
                        <img class="icon" alt="pigeon" src="https://www.ezeynaty.com/images/email/icon.png" style="vertical-align: middle; margin-left: 34px;" />
                    </span>
                    <p class="white-text" style="color: #fff; font-size: 20px;">SATURDAY</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr class="message" style="background-color: rgb(29, 30, 32); height: 283px; text-align: center;">
              <td colspan="2">
                <h2 class="white-text" style="color: #fff; margin-top: 50px; line-height: 30.5px; text-transform: uppercase;"> DEAR, <%= fullName %></h2>
                <span class="pink" style="height: 2px; width: 50px; background-color: rgb(255,57,95); opacity: .9; display: block; margin: 0 auto;"> </span>
                <div class="message-text" style="max-width: 458px; padding: 26px 31px; margin: 26.35px auto 50px auto; background-color: rgb(14,15,16);">
                    <p class="white-text" style="color: #fff; font-size: 18.6px; line-height: 32px; opacity: .75;">REQUEST THE HONOR OF YOUR PRESENCE AT OUR WEDDING DAY</p>
                    <p class="white-text" style="color: #fff; font-size: 17.3px; opacity: .5;">SATURDAY - 03/20/2021</p>
                    <% if (companions && companions.length > 0) { %>
                      <p class="white-text" style="color: #fff; font-size: 17.3px; opacity: .5;">CONFIRM YOUR GUESTS</p>
                      <ul style="list-style: none;">
                        <% _.each(companions, function (companion) { %>
                          <li style="color: #fff; font-size: 17.3px; opacity: .5; text-transform: uppercase;"><%= companion %></li>
                        <% }) %>
                      </ul>
                    <% } %>
                    <a class="white-text confirm-btn confirm-invitation" target="_blank" href="https://www.ezeynaty.com/<%= uuid %>" style="text-decoration: none; color: #fff; padding: 8px 12px; background-color: rgb(255,57,95); border: 1px solid rgb(255,57,95); border-radius: 2px; opacity: .9; display: inline-block;">RSVP</a>
                </div>
              </td>
            </tr>
            <tr style="height: 393px;">
              <td class="left white" style="width: 55%; background-color: #fff; padding-left: 50px; padding-right: 50px; text-align: center;">
                  <h2 class="black-text" style="color: #000; margin-top: 50px; margin-bottom: 19px; font-size: 33px; text-align: left;">VENUE</h2>
                  <span class="pink" style="height: 2px; width: 50px; background-color: rgb(255,57,95); opacity: .9; display: block;"> </span>
                  <p class="black-text" style="color: #000; margin: 25px 0 0 0; font-size: 18.6px; opacity: .5;">JANOS EVENTOS PILAR <br/> PANAMERICANA KM 52, PILAR, BUENOS AIRES</p>
                  <p class="black-text" style="color: #000; margin: 37px 0 0 0; font-size: 18.6px; line-height: 32px; opacity: .8;">4 PM</p>
                  <a class="white-text map-btn" target="_blank" href="https://g.page/janospilar?share" style="margin: 60px 0 50px 0; padding: 12px; color: #fff; text-decoration: none; background-color: #000; border: 1px solid #000; border-radius: 2px; display: inline-block;">VIEW MAP</a>
              </td>
              <td class="right" style="width: 45%; background: url('https://www.ezeynaty.com/images/email/venue.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat;"></td>
            </tr>
            <tr class="footer" style="height: 189px; text-align: center; background: url('https://www.ezeynaty.com/images/email/footer.jpg'); background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 44%), url('https://www.ezeynaty.com/images/email/footer.jpg'); background-size: cover; background-position: center center; vertical-align: bottom; background-repeat: no-repeat;">
              <td colspan="2">
                <p class="white-text" style="color: #fff; opacity: .8;">FOR MORE INFORMATION PLEASE CONTACT US: <a href="mailto:eze.naty.13@gmail.com" class="white-text" style="color: #fff; text-decoration: none;">eze.naty.13@gmail.com</a></p>
              </td>
            </tr>
          </table>
      </div>
    </div>
  </body>
</html>
