<div id="confirmed-email" v-cloak>
  <div class="container">
    <h1 class="text-center">Email confirmado</h1>
    <div class="confirmation-message">
      <hr/>
      <p>¡Felicitaciones, su cuenta ya está verificada! Ahora tiene acceso completo a su cuenta.</p>
      <p><a class="btn btn-outline-info" href="/admin">Ir al inicio</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
