<div id="signup" v-cloak>
  <div class="container" v-if="!cloudSuccess">
    <h1 class="text-center">Crea una cuenta</h1>
    <div class="signup-form">
      <hr/>
      <ajax-form action="signup" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <label for="full-name">Nombre</label>
          <input class="form-control" id="full-name" type="text"  :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder="Sturgis P. Sturgeon" autocomplete="name" focus-first>
          <div class="invalid-feedback" v-if="formErrors.fullName">Por favor ingresa tu nombre.</div>
        </div>
        <div class="form-group">
          <label for="email-address">Email</label>
          <input class="form-control" id="email-address" type="email"  :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="sturgeon@example.com" autocomplete="email">
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Por favor, introduce una dirección de correo electrónico válida.</div>
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input class="form-control" id="password" type="password"  :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.password">Porfavor ingrese una contraseña.</div>
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirmar contraseña</label>
          <input class="form-control" id="confirm-password" type="password"  :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.confirmPassword">Su nueva contraseña y confirmación no coinciden.</div>
        </div>
        <p class="text-danger" v-if="cloudError==='emailAlreadyInUse'"><small>Parece que ya hay una cuenta con su dirección de correo electrónico. Si olvidó su contraseña, puede recuperarla <a href="/admin/password/forgot">aquí</a>.</small></p>
        <p class="text-danger" v-else-if="cloudError"><small>Se produjo un error al procesar su solicitud. Verifique su información e intente nuevamente.</small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn-dark btn-lg btn-block">Crear cuenta</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center">¿Tienes una cuenta? <a href="/admin/login">Iniciar sesión</a></p>
    </div>
  </div>
  <div class="container" v-if="cloudSuccess">
    <h1 class="text-center">¡Revisa tu correo electrónico!</h1>
    <div class="success-message">
      <hr/>
      <p>Tu cuenta está casi lista. Todo lo que tiene que hacer es hacer clic en el enlace que enviamos a <strong>{{formData.emailAddress}}</strong>.</p>
      <p>(Puede acceder ahora, pero algunas características no estarán disponibles hasta que hayamos verificado su dirección de correo electrónico).</p>
      <p><a class="btn btn-outline-info" href="/admin">Ir al inicio</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
