<div id="invitation-create" v-cloak>

  <div class="container">
    <h1 class="text-center">Crear Invitatación</h1>
    <div class="create-invitation-form">
      <hr/>
      <div class="alert alert-danger" role="alert" v-if="<%= guests.length === 0 %>">
        No hay invitados para invitar! <a href="/admin/guest/create" class="alert-link">¡Por favor crea algunos invitados primero!</a>
      </div>
      <ajax-form v-else action="createInvitation" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <label for="main-guest">Invitado Principal</label>
          <select id="main-guest" :class="[formErrors.fullName ? 'is-invalid' : '', 'form-control']" v-model.trim="formData.mainGuest" focus-first>
              <% _.each(guests, function (guest) { %>
                <option value="<%= guest.id %>"><%= guest.fullName %></option>
              <% }) %>
          </select>
          <div class="invalid-feedback" v-if="formErrors.mainGuest">Por favor seleccione un invitado.</div>
        </div>
        <p class="text-danger" v-if="cloudError"><small>Se produjo un error al procesar su solicitud. Verifique la información e intente nuevamente.</small></p>
        <div class="form-groupm text-right">
          <a href="/admin/invitation" class="btn btn-dark">Atrás</a>
          <ajax-button type="submit" :syncing="syncing" class="btn-primary">Crear Invitatación</ajax-button>
        </div>
      </ajax-form>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
