<div id="invitation-edit" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/invitation/edit.less</em>, <em>assets/js/pages/invitation/edit.page.js</em>, and <em>api/controllers/invitation/view-edit.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
