<div id="invitation-list" v-cloak>

  <div class="alert alert-danger fade show" role="alert" v-if="cloudError">
    Se produjo un error al procesar su solicitud.
    <button type="button" class="close" @click="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container">
    <h1>Administrar invitaciones</h1>
    <hr/>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="true">Listado</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Mensajes</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
        <div class="card-body">
          <a href="/admin/invitation/create" class="btn btn-primary mb-4">Crear invitación</a>
          <button class="btn btn-primary mb-4" @click="startReset()">Resetear confirmación</button>
          <modal v-if="resetting">
            <div class="card-body">
              <h1>ATENCION</h1>
              <h3>Esta a punto de resetear el estado de todas las invitaciones.</h3>
              <h3>Está seguro?</h3>
              <button class="btn btn-primary mb-4" @click="cancelReset()">Cancelar</button>
              <ajax-button class="btn-danger mb-4" @click="resetConfirmation()" :syncing="loadingReset">
                Resetear
              </ajax-button>
              <div class="alert alert-danger" role="alert" v-if="resettingError">
                Hubo un error reseteando las invitaciones. Inténtelo de nuevo.
              </div>
            </div>
          </modal>
          <div class="alert alert-info" role="alert" v-if="invitations.length === 0">
            No hay invitaciones para mostrar. <a href="/admin/invitation/create" class="alert-link">Crear una.</a>
          </div>
          <div v-else>
            <div class="form-group">
              <input type="email" class="form-control" id="search" v-model="search" placeholder="Search invitation..">
            </div>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Invitado Principal</th>
                    <th scope="col" class="text-center">Invitación enviada</th>
                    <th scope="col" class="text-center">Invitación Confirmada</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="invitation in filteredInvitations" @click="(e) => details(e, invitation.id)">
                    <th scope="row">{{ invitation.guests.find(g => g.type === 'main').fullName }}</th>
                    <td class="text-center">
                      <i :class="['fa', { 'fa-check-circle text-success': invitation.sent, 'fa-times-circle text-danger': !invitation.sent }]"></i>
                    </td>
                    <td class="text-center">
                      <i :class="['fa', { 'fa-check-circle text-success': invitation.confirmed, 'fa-times-circle text-danger': !invitation.confirmed }]"></i>
                    </td>
                    <td class="text-center">
                      <a :href="`/admin/guest/${invitation.guests.find(g => g.type === 'main').id}`" class="btn btn-warning btn-sm mr-3">DETALLE INVITADO</a>
                      <a :href="`/admin/invitation/edit/${invitation.id}`" class="btn btn-warning btn-sm mr-3">EDITAR</a>
                      <button type="button" @click="(e) => resendInvitation(e, invitation.id)" class="btn btn-primary btn-sm mr-3">REENVIAR EMAIL</button>
                      <button type="button" @click="(e) => deleteInvitation(e, invitation.id)" class="btn btn-danger btn-sm">ELIMINAR</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="messages-tab">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Quien/es</th>
                  <th scope="col">Mensaje</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="invitation in invitations">
                  <td>
                    <ul style="list-style: none;">
                      <template v-for="guest in invitation.guests.map(g => g.fullName)">
                        <li style="white-space: nowrap;">{{ guest }}</li>
                      </template>
                    </ul>
                  </td>
                  <td>{{ invitation.comment || '-' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
