<div id="invitation-read" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/invitation/read.less</em>, <em>assets/js/pages/invitation/read.page.js</em>, and <em>api/controllers/invitation/view-read.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
