<div id="tables-view" v-cloak>

  <div class="container">
    <h1 class="no-print">Mesas</h1>
    <hr class="no-print"/>
    <ul class="nav nav-tabs no-print">
      <li class="nav-item">
        <a class="nav-link active" id="assigned-tab" data-toggle="tab" href="#assigned" role="tab" aria-controls="assigned" aria-selected="true">Asignadas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="unassigned-tab" data-toggle="tab" href="#unassigned" role="tab" aria-controls="unassigned" aria-selected="false">Sin asignar</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active no-print" id="assigned" role="tabpanel" aria-labelledby="assigned-tab">
        <div class="card-body">
          <div class="container-fluid">
            <div class="row no-print">
              <p class="text-danger mr-4">No viene</p>
              <p class="text-warning mr-4">Confirmación Pendiente</p>
              <p>Confirmado</p>
            </div>
            <div class="row print">
              <div class="col-xs-12 col-sm-4 mb-4 print-column" v-for="(table, key) in assigned">
                <div class="card" style="page-break-inside: avoid;">
                  <div class="card-header">
                    <h5>Mesa {{key}}</h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item" v-for="guest in table">
                      <p :class="['mb-1', { 'text-danger': guest.status === 'notComing', 'text-warning': guest.status === 'pending' }]">{{ guest.fullName }}</p>
                      <small>{{ `${guest.minor ? 'Menor' : 'Adulto'} | Menú: ${guest.menu}` }}</small>
                    </li>
                  </ul>
                  <div class="card-footer text-muted">
                    <p>Adultos: {{ table.filter(g => !g.minor).length }}</p>
                    <p v-if="table.filter(g => g.minor).length > 0">Menores: {{ table.filter(g => g.minor).length }}</p>
                    <p v-if="table.filter(g => g.menu === 'Adulto').length > 0">Menú Adulto: {{ table.filter(g => g.menu === 'Adulto').length }}</p>
                    <p v-if="table.filter(g => g.menu === 'Celíaco').length > 0">Menú Celíaco: {{ table.filter(g => g.menu === 'Celíaco').length }}</p>
                    <p v-if="table.filter(g => g.menu === 'Infantil').length > 0">Menú Infantil: {{ table.filter(g => g.menu === 'Infantil').length }}</p>
                    <p v-if="table.filter(g => g.menu === 'Vegetariano').length > 0">Menú Vegetariano: {{ table.filter(g => g.menu === 'Vegetariano').length }}</p>
                    <p v-if="table.filter(g => g.menu === 'Vegano').length > 0">Menú Vegano: {{ table.filter(g => g.menu === 'Vegano').length }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade no-print" id="unassigned" role="tabpanel" aria-labelledby="unassigned-tab">
        <div class="card-body">
          <div class="container-fluid">
            <div class="row">
              <p class="text-danger mr-4">No viene</p>
              <p class="text-warning mr-4">Confirmación Pendiente</p>
              <p>Confirmado</p>
            </div>
            <div class="row">
              <table class="table">
                <thead>
                  <tr>
                    <th class="col-small" scope="col">#</th>
                    <th scope="col">Nombre y apellido</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(guestUnassigned, indexUnassigned) in unassigned">
                    <th class="col-small" scope="row">{{ indexUnassigned + 1 }}</th>
                    <td :class="{ 'text-danger': guestUnassigned.status === 'notComing', 'text-warning': guestUnassigned.status === 'pending' }">{{ guestUnassigned.fullName}}</td>
                    <td>
                      <a :href="`/admin/guest/edit/${guestUnassigned.id}`" class="btn btn-warning btn-sm">EDIT</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
